/** Page layout **/

html {
	height: 100%;
}

body {
	background-color: #0a0a0a;
	color: #f5f5f5;
	min-height: 100%;
	position: relative;
}

::selection {
	background: #fff;
	color: #222;
}

.page {
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 10px 65px 160px 65px;
}

.blue {
	color: #42a0ff;
	display: inline-block;
}

/** Header / Navbar **/

#header {
	background-color: #f8f8f8;
	border-bottom: 5px solid #42a0ff;
	min-height: 65px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 65px 0px 65px;
	width: 100%;
	margin-bottom: 40px;
	font-family: Sans-serif;
	font-size: 13px;
}

#site-logo-text {
	color: #000;
	opacity: 1;
	float: left;
	display: inline-block;
	font-family: Sans-serif;
	font-weight: bold;
	line-height: 40px;
	margin-top: 2px;
}

@media (max-width: 800px) {
	#header-logo {
		display: none;
	}
}

#menu-main a {
	color: #0a0a0a;
	opacity: 0.7;
	width: 120px;
	margin: 2px 0px 0px 0px;
	padding: 10px 5px;
	text-transform: uppercase;
	background: none;
	transition: opacity 0.15s ease-in-out;
}

#menu-main .active a, #header a:hover {
	opacity: 1;
}

#menu-main a:focus, #menu-main a:active {
	outline: none;
}

#menu-main li:hover span, #menu-main .active span {
	left: -16px;
	opacity: 1;
}

#menu-main span {
	background: url("/img/pointer.png");
	width: 13px;
	height: 11px;
	position: absolute;
	margin-top: 15px;
	left: -10px;
	opacity: 0;
	transition: all 0.15s ease-in-out;
}

#menu-main button {
	color: #0a0a0a;
	opacity: 0.7;
	width: 120px;
	margin: 2px 0px 0px 0px;
	padding: 10px 5px;
	background: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	text-align: inherit;
	transition: opacity 0.1s ease-in-out;
}

#menu-main button:hover {
	opacity: 1;
}

/** Footer **/

#footer {
	font-size: 10px;
	text-align: center;
	padding: 10px 65px 0px 65px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
}

#footer .logo {
	font-size: 24px;
	font-family: Sans-Serif;
	font-weight: bold;
	float: left;
	padding-right: 5px;
}

#footer .limiter {
	height: 30px;
	border-left: 2px solid;
	float: left;
	margin-top: 2px;
	padding-right: 5px;
}

#footer p {
	text-shadow: 2px 2px 16px #000000;
	float: left;
	text-align: left;
	padding: 0;
	margin: 0;
}

#footer .fade {
	opacity: 0.20;
	display: inline-block;
	padding-bottom: 5px;
}

#footer .fade:hover {
	opacity: 1;
}

/** Background Stuff **/

.background-dot {
	position: fixed;
	z-index: -5;
}

.background-dot::selection {
	background-color: #0a0a0a;
	color: #f5f5f5;
}

#dotCanvas {
	position: absolute;
	opacity: 0;
	bottom: 0;
	z-index: -10;
	width: 100%;
}

.dotCanvasLoaded {
	opacity: 1 !important;
	transition: opacity 0.5s ease-in;
}

/** Landing Page **/

#ctfx-main-logo {
	position: absolute;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.main-intro-text {
	font-size: 20px;
	margin-bottom: 20px;
	padding-top: 320px;
	text-align: center;
}

/** Headings **/

.typewriter {
	display: inline-block;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
	animation: typewriter 1s steps(44) 0.25s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite;
}

@keyframes typewriter{
  from {max-width: 0;}
  to {max-width: 100%; border-right: none;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/**
	UI Elements
**/
	
.dropdown {
	width: 34px;
	height: 34px;
	top: 6px;
	display: inline-block;
	background: url("/img/ui/dropdownActive.png");
}

.dropdown-a {
	width: 34px;
	position: absolute;
	background: url("/img/ui/dropdownInactive.png");
	animation: maskdown-first 3s infinite ease-out;
}

.dropdown-b {
	width: 34px;
	position: absolute;
	background: url("/img/ui/dropdownActive.png");
	animation: maskdown-second 3s infinite ease-out;
}

@keyframes maskdown-first {
 0% { height: 0px; }
 20% { height: 34px; }
 100% { height: 34px; }
}

@keyframes maskdown-second {
 0% { height: 0px; }
 50% { height: 0px; }
 70% { height: 34px; }
 100% { height: 34px; }
}

.form-group .btn, .modal-content .btn-primary, .form-signin .btn {
	border: none;
	border-radius: 0px;
	position: relative;
	text-transform: uppercase;
	min-width: 240px;
	padding-top: 7px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 10;
	height: 45px;
	opacity: 1 !important;
	font-family: Arial;
	font-size: 20px;
	transition: color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-content .btn-default {
	min-width: 120px;
}

.form-group .btn:hover, .form-signin .btn:hover {
	color: #fff;
}

.form-group .btn, .form-signin .btn {
	background-color: #fff !important;
	color: #000;
}

.form-group .btn::before, .modal-content .btn::before, .form-signin .btn::before {
	width: 100%;
	height: 5px;
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	content: "";
	transition: height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form-group .btn:hover::before, .modal-content .btn:hover::before, .form-signin .btn:hover::before {
	height: 100%;
}

.form-group .btn-primary::before, .modal-content .btn-primary::before, .form-signin .btn-primary::before {
	background-color: #42a0ff;
}

.form-group .btn-danger::before {
	background-color: #ff4242;
}

.modal-content .btn-default::before {
	background-color: #505050;
}

.form-group .btn-warning::before {
	background-color: #cfff42;
}

.form-group .btn-warning:hover {
	color: #000 !important;
}

/**
	Default HTML Elements
**/

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: none;
}

.table-striped > tbody > tr:nth-of-type(2n):hover {
	background: none;
}

h2 {
    font-weight: bold;
}

a {
	color: #42a0ff;
	transition: color 0.15s ease-in-out;
}

a:hover, a:focus {
	color: #cfff42;
	transition: color 0.15s ease-in-out;
}

img::selection {
	background: none;
}

/** News **/

.news-body {
	margin-top: -10px;
	padding: 5px 5px 5px 15px;
}

/** Category Entries **/

#categories-menu a {
	display: block;
	text-decoration: none;
	padding: 5px 5px;
}

#categories-menu li {
	border: 1px solid #428bca;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	margin: 5px 10px;
	text-align: center;
}

#categories-menu li.active {
	background: #428bca;
}

#categories-menu li.active a {
	color: #ffffff;
}

#categories-menu li.disabled {
	border-color: #b1b1b1;
}

#categories-menu li.disabled a {
	color: #b1b1b1;
}

#categories-menu {
	overflow: auto;
}

/** Forms **/

.form-control:focus {
	border: none;
	box-shadow: none;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-group input[type="checkbox"] {
	margin-top: 12px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-control, select {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	color: #0a0a0a;
	height: auto;
	box-sizing: border-box;
	padding: 5px 5px 5px 12px;
}

select {
}

.form-signin .form-control {
	padding: 5px 5px 5px 12px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input, .form-signin select {
	background-color: #f8f8f8;
	border: none;
	border-radius: 0px;
	margin-bottom: 10px;
}

.form-group input, .form-group select {
	background-color: #f8f8f8;
	border: none;
	border-radius: 0px;
}

.form-group label {
	font-family: Sans-serif;
	font-size: 18px;
}

.form-signin input::selection, .form-signin select::selection, .form-group input::selection, .form-group select::selection {
	background-color: #0a0a0a;
	color: #f8f8f8;
}

.form-signin select, .form-group select {
	cursor: pointer;
}

/** Challenges page **/

#categories-menu li {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
}

#category-description {
	padding: 10px 0 0 10px;
	margin-bottom: 10px;
}

.category-tab-content {
	padding: 20px;
	background: #fff;
	border: 1px solid rgb(221, 221, 221);
	border-top: none;

}

.challenge-container {
	margin-bottom: 20px;
}

.challenge-container h1 {
	font-size: 15pt;
}

.challenge-description {
	padding: 10px;
	margin-bottom: 10px;
}

.challenge-metadata ul {
	list-style-type: none;
	padding-left: 25px;
}

.challenge-metadata ul li span.glyphicon {
	margin-right: 5px;
}

.challenge-submit-metadata .glyphicon {
	padding-top: 10px;
	padding-right: 5px;
}

.challenge-submit-metadata p {
	margin: 0;
}

.flag-input {
	margin-bottom: 10px;
}

.news-container .page-header {
	border-bottom: 2px solid #42a0ff;
	margin: 20px 0 20px;
}

.no-padding-or-margin {
	padding:0;
	margin:0;
}

.alert h1, h2, h3 {
	padding:0;
	margin:0;
}

.discreet-inline {
	padding:0;
	margin:0;
	display:inline;
}

.small-icon {
	width: 16px;
	height: 16px;
}

.bbcode_columns {
	width: 100%;
}

.bbcode_column {
	padding: 10px;
}

/** Score table **/

.team-table {
	max-width: 450px;
}

.team-table .team-name {
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.challenge-table .team-name {
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.glyphicon {
	opacity: 0.8;
}

pre {
	font-size: 8pt;
	overflow: auto;
	line-height: 100%;
}

.inline-pre {
	display: inline;
	padding: 2px;
}

.center {
	text-align: center;
}

.red {
	color: red;
}

/**  Messages / Modal dialogs **/

.modal-header .close {
	position: absolute;
	right: 20px;
	z-index: 1;
	font-family: Sans-serif;
	font-weight: normal;
	font-size: 40px;
	transition: opacity 200ms ease-in-out;
}

.modal-header .close:hover {
	opacity: 1;
}

.modal-content {
	max-width: 1100px;
	padding: 0 15px 15px 15px;
	color: #000;
	border: none;
	border-radius: 0px;
}

.modal-content .page-header {
	margin-top: 20px;
	margin-bottom: 0px;
}

.modal-content .form-control {
	background-color: #0a0a0a;
	color: #f8f8f8;
	padding-bottom: 5px;
}

.modal-content .form-control::selection {
	background-color: #fff;
	color: #000;
}

.modal-content .btn {
	background-color: #0a0a0a !important;
	color: #f8f8f8;
}

.modal-content a {
	color: #0a0a0a;
	text-decoration: underline;
}

.modal-content a:hover {
	color: #2a66a3;
}

.modal.challenge-attempt .modal-header {
	background: no-repeat 50% 3px;
	background-size: 70px;
	border-radius: 6px 6px 0 0;
	border-bottom: 2px solid;
	color: white;
	min-height: 70px;
}

.modal.challenge-attempt.incorrect .modal-header {
	background-image: url('../img/padlock_white.svg');
	border-bottom-color: #C14444;
	background-color: #E75353;
}

.modal.challenge-attempt.correct .modal-header {
	background-image: url('../img/flag_white.svg');
	border-bottom-color: #47ac41;
	background-color: #a8d68e;
}

.modal.challenge-attempt button {
	float: right;
}

.modal.challenge-attempt p {
	float: left;
}

.modal.challenge-attempt .modal-body {
	overflow: auto;
}

/** Misc **/

#visualise-competition {
	width: 1000px;
	height: 700px;
}

@media screen and (min-width: 768px) {
	.masthead,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}